alias reload="kill -SIGUSR1 $(pgrep kitty)"

alias ls="ls --color"

alias nbl="sudo nixos-rebuild switch --flake ~/.nixos#laptop --impure"
alias nbd="sudo nixos-rebuild switch --flake ~/.nixos#desktop --impure"
alias nu="sudo nix flake update --flake ~/.nixos"
alias nd="nix develop .#default"
alias nc="sudo nix-collect-garbage -d"
alias ncu="nix-collect-garbage -d"

alias flake="~/Resources/Flakes/flake_selector.sh"
alias template="~/Resources/ProjectTemplates/template_selector.sh"

alias cl="~/.install/clion.sh"
alias pyc="~/.install/pycharm.sh"

alias nedit="nvim ~/.nixos"
alias cedit="nvim ~/.config"

alias gs="git status"
alias gl="git log --graph"
alias glo="git log --oneline --graph"
alias gc="git commit -m"
alias gca="git commit --amend"
alias gp="git push"
alias gpf="git push --force-with-lease"
alias gr="git reset"
alias grh="git reset --hard"
alias gri="git rebase --interactive"

alias cmbd="cmake --build --preset debug"
alias cmbr="cmake --build --preset release"

alias config="git --git-dir=$HOME/.cfg/ --work-tree=$HOME"
alias sync="~/.install/sync.sh"

alias mcstatus="systemctl status minecraft-server.service"
alias vpn="sudo openvpn --config Resources/kit.ovpn "
alias avpn="sudo openvpn --config Resources/kit-vpn2vlan.ovpn"
alias gamify="~/Projects/Gamify-Life/buildDir/GamifyLife --config ~/Projects/Gamify-Life/resources/config.yaml"

alias dps="docker ps -a"
alias dcu="docker compose up"
alias dcd="docker compose down"
