.cfg/

.nixos/hardware-configuration.nix
.nixos/certificates/

.config/clipse/clipboard_history.json
.config/clipse/clipse.log
.config/clipse/tmp_files/

.config/nvim/current-theme
.config/kitty/current-theme.conf
.config/waybar/current-theme.css
